body {
    background-color: grey;
}
  
h1 {
  color: MidnightBlue;
  margin-left: 20px;
}

#myDiv{
  background-color: Lightgray;
  border-style: dotted;
  border-color: MidnightBlue;
}
© 2021 GitHub, Inc.
